<!-- HEADER -->
<header>
  <div class="headerRow row">
    <div class="menu desktopMenu">
      <ul>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9"></div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><li><a href="#" scrollTo="main">Головний екран</a></li></div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><li><a href="#" scrollTo="features">Особливості</a></li></div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><li><a href="#" scrollTo="program">Програма</a></li></div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><li><a href="#" scrollTo="speakers">Спікери</a></li></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><li><a href="#" scrollTo="how-registration">Як зареєструватись</a></li></div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><li><a href="#" scrollTo="contacts">Контакти</a></li></div>
      </ul>
    </div>
  </div>
  </header>
