<div class="topRow3">
  <div class="titlee">
    <h3 class="mobileP"> <div class="invisible">son</div> {{ 'PREVIEW.REG_SUCCESS.TEXT1' | translate }}</h3>
  </div>
  <h3 class="desktopP">{{ 'PREVIEW.REG_SUCCESS.TEXT1' | translate }}</h3>
  <button class="buttonClose3" mat-button mat-dialog-close></button>
  <div class="greyLine3"></div>
</div>

<div class="bottomRow">
  <img src="../../../../assets/images/checked.png" alt="">
  <div class="emaill">
    <h3 class="bott">{{ 'PREVIEW.REG_SUCCESS.TEXT2' | translate }}<div class="invisible">sometextt</div>{{ 'PREVIEW.REG_SUCCESS.TEXT3' | translate }}</h3>
  </div>
</div>

