@font-face {
  font-family: "Philosopher_regular";
  src: url("./assets/fonts/Philosopher/Fonts/philosopher-regular.ttf");
}

@font-face {
  font-family: "Helvetica_Neue_light";
  src: url("./assets/fonts/Helvetica_Neue/HelveticaNeueLight.ttf");
}
