<div class="artifactRow row">
  <!--Tablet landscape and PC-->
  <div class="TextRow row">
    <div class="hidden-xs hidden-sm col-md-8 col-lg-8"></div>
    <div class="hidden-xs hidden-sm col-md-8 col-lg-8"><h1>НАШ ФОРУМ - ЦЕ:</h1></div>
    <div class="hidden-xs hidden-sm col-md-8 col-lg-8"></div>
  </div>
  <div class="ImgRow row">

    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"></div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"><img src="../../../../assets/images/artifact/1.png"></div>
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"><img src="../../../../assets/images/artifact/2.png"></div>
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"><img src="../../../../assets/images/artifact/3.png"></div>
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"><img src="../../../../assets/images/artifact/4.png"></div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"></div>

  </div>
  <div class="Text-2Row row">
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5"><h2><strong>Актуальні та<br> дискусійні</strong><br> теми для<br> обговорення</h2></div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5"><h2><strong>Найбільший</strong> комунікативний майданчик в Україні</h2></div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5"><h2><strong>Перший</strong> всеукраїнський ярмарок навчальної літератури</h2></div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5"><h2>Лайвхаки від <strong>найкращих спікерів</strong> з усього світу</h2></div>
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
  </div>
  <div class="Img-2Row row">

    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"></div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"><img src="../../../../assets/images/artifact/5.png"></div>
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"><img src="../../../../assets/images/artifact/6.png"></div>
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"><img src="../../../../assets/images/artifact/7.png"></div>
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"><img src="../../../../assets/images/artifact/8.png"></div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"></div>

  </div>
  <div class="Text-3Row row">
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5"><h2>Безліч нових <strong>ідей</strong> і нових <strong>контактів</strong></h2></div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5"><h2><strong>Цікаві</strong> та <strong>корисні<br></strong> інтерактивні <br>івенти</h2></div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5"><h2>Конференц-<br>сервіс класу <strong><br>Luxury</strong></h2></div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5"><h2><strong>VIP-тренінги</strong> для партнерів</h2></div>
    <div class="hidden-xs hidden-sm col-md-2 col-lg-2"></div>
  </div>
  <div class="RegistrRow row">
    <div class="hidden-xs  hidden-sm  col-md-10 col-lg-10"></div>
    <div class="hidden-xs  hidden-sm  col-md-4 col-lg-4 regCol"><app-artifact-registration-button></app-artifact-registration-button></div>
    <div class="hidden-xs  hidden-sm  col-md-10 col-lg-10"></div>
  </div>

  <!--Tablet portrait and mobiles-->
  <div class="TextRow row">
    <div class="col-xs-6 col-sm-6 hidden-md hidden-lg"></div>
    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg"><h1>НАШ ФОРУМ - ЦЕ:</h1></div>
    <div class="col-xs-6 col-sm-6 hidden-md hidden-lg"></div>
  </div>
  <div class="ImgRow row">
    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg"></div>
    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg"><img src="../../../../assets/images/artifact/1.png" class="IMG-1"></div>
    <div class="col-xs-3 col-sm-3 hidden-md hidden-lg"></div>
    <div class="col-xs-6 col-sm-6 hidden-md hidden-lg"><img src="../../../../assets/images/artifact/2.png" class="IMG-2"></div>
    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg"></div>
    <div class="col-xs-5 col-sm-5 hidden-md hidden-lg"><img src="../../../../assets/images/artifact/3.png" class="IMG-3"></div>
    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg"></div>
  </div>
  <div class="Text-2Row row">
    <div class="col-xs-1 col-sm-1 hidden-md hidden-lg"></div>
    <div class="col-xs-6 col-sm-6 hidden-md hidden-lg"><h2><strong>Актуальні та<br> дискусійні</strong><br> теми для<br> обговорення</h2></div>
    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg"></div>
    <div class="col-xs-6 col-sm-6 hidden-md hidden-lg"><h2><strong>Найбільший</strong> комунікативний майданчик в Україні</h2></div>
    <div class="col-xs-1 col-sm-1 hidden-md hidden-lg"></div>
    <div class="col-xs-7 col-sm-7 hidden-md hidden-lg"><h2><strong>Перший</strong> всеукраїнський ярмарок навчальної літератури</h2></div>
    <div class="col-xs-1 col-sm-1 hidden-md hidden-lg"></div>
  </div>
  <div class="Img-2Row row">
    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg"></div>
    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg"><img src="../../../../assets/images/artifact/6.png" class="IMG-6"></div>
    <div class="col-xs-3 col-sm-3 hidden-md hidden-lg"></div>
    <div class="col-xs-6 col-sm-6 hidden-md hidden-lg"><img src="../../../../assets/images/artifact/4.png" class="IMG-4"></div>
    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg"></div>
    <div class="col-xs-5 col-sm-5 hidden-md hidden-lg"><img src="../../../../assets/images/artifact/7.png"></div>
    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg"></div>
  </div>
  <div class="Text-3Row row">
    <div class="col-xs-1 col-sm-1 hidden-md hidden-lg"></div>
    <div class="col-xs-6 col-sm-6 hidden-md hidden-lg"><h2><strong>Цікаві</strong> та <strong>корисні<br></strong> інтерактивні <br>івенти</h2></div>
    <div class="col-xs-1 col-sm-1 hidden-md hidden-lg"></div>
    <div class="col-xs-8 col-sm-8 hidden-md hidden-lg"><h2>Лайвхаки від <strong><br>найкращих<br> спікерів</strong> з усього<br> світу</h2></div>
    <div class="col-xs-7 col-sm-7 hidden-md hidden-lg"><h2>Конференц-<br>сервіс класу <strong><br>Luxury</strong></h2></div>
    <div class="col-xs-1 col-sm-1 hidden-md hidden-lg"></div>
  </div>
  <div class="Img-3Row row">
    <div class="col-xs-5 col-sm-5 hidden-md hidden-lg"></div>
    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg"><img src="../../../../assets/images/artifact/5.png" class="IMG-5"></div>
    <div class="col-xs-5 col-sm-5 hidden-md hidden-lg"></div>
    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg"><img src="../../../../assets/images/artifact/8.png" class="IMG-8"></div>
    <div class="col-xs-6 col-sm-6 hidden-md hidden-lg"></div>
  </div>
  <div class="Text-4Row row">
    <div class="col-xs-4 col-sm-4 hidden-md hidden-lg"></div>
    <div class="col-xs-6 col-sm-6 hidden-md hidden-lg"><h2>Безліч нових <strong>ідей</strong> і<br>  нових <strong>контактів</strong></h2></div>
    <div class="col-xs-3 col-sm-3 hidden-md hidden-lg"></div>
    <div class="col-xs-6 col-sm-6 hidden-md hidden-lg"><h2><strong>VIP-тренінги</strong> для партнерів</h2></div>
    <div class="col-xs-5 col-sm-5 hidden-md hidden-lg"></div>
  </div>
  <div class="RegistrRow row">
    <div class="col-xs-8  col-sm-8  hidden-md hidden-lg"></div>
    <div class="col-xs-8  col-sm-8 hidden-md hidden-lg"><app-artifact-registration-button></app-artifact-registration-button></div>
    <div class="col-xs-8  col-sm-8  hidden-md hidden-lg"></div>
  </div>

</div>

